<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

  <title>STP Cloud</title>
  <link rel="shortcut icon" data-th-href="@{/static/images/favicon.ico}"/>

  <link rel="stylesheet" data-th-href="@{/static/css/ui.css}"/>
</head>
<body>

<div data-layout-fragment="pure"></div>

<script data-th-src="@{/static/js/ui.js}"></script>

</body>
</html>
